# Kata 4

## Ejercicio 1: Transformar cadenas

In [8]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

In [9]:
# Divide el texto
text_divided = text.split('.')

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', ' On average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', ' The highest daylight temperature of the Moon is 127 C', '']

In [10]:
# Palabras clave
palabras_clave = ['average','temperature','distance']

In [11]:
# Ciclo for para recorrer la cadena
for x in text_divided:
    for y in palabras_clave:
        if y in x:
            print(x)
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [12]:
# Ciclo para cambiar C a Celsius
for x in text_divided:
    for y in palabras_clave:
        if y in x:
            print(x.replace('C', 'Celsius'))
            break

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

## Ejercicio 2: Formateando cadenas

In [13]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [15]:
#Creamos el titulo
titulo = f"Gravity Facts about {name}"

In [22]:
# Creamos la plantilla
hechos = f"""{'-'*60} 
Planet Name: {planet} 
Gravity on {name}: {gravity * 1000} m/s2 
"""
hechos

'------------------------------------------------------------ \nPlanet Name: Earth \nGravity on Moon: 1.6199999999999999 m/s2 \n'

In [25]:
# Union de ambas cadenas
union = f"""{titulo.title()}
{hechos}
"""
union

'Gravity Facts About Moon\n------------------------------------------------------------ \nPlanet Name: Earth \nGravity on Moon: 1.6199999999999999 m/s2 \n\n'

In [26]:
# Nuevos datos
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

In [28]:
# probando la plantilla
print(union)

Gravity Facts About Moon
------------------------------------------------------------
Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

In [32]:
nuevo = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""

print(nuevo.format(nombre=name, planeta=planet, gravedad=gravity))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [33]:
# Pista: print(nueva_plantilla.format(variables))
print(nuevo.format(nombre=name, planeta=planet, gravedad=gravity*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2